<div id="wrapper">
	<header>
    	<a href="/"><h1 id="title">Stashboard</h1></a>
	</header>
	<section id="content">

		<table id="services" class="data">
			<thead>
				<th>Service</th>
				<th class="today">Current</th>
				<% 5.times do |i| %>
					<th><%= (Time.now - 60*60*24*(i+1)).to_formatted_s(:month_and_day) %></th>
				<% end %>
			</thead>
			
			<tbody>
				<% unless @statuses.nil?
					@statuses.keys.each do |name| %>
				<tr>
					<td><%= link_to name, service_events_path(@statuses[name][0].service_id) %></td>
					<td class="status highlight">
						<%= @statuses[name][0].image %>
					</td>
					<% 5.times do |i| %>
						<td class="status">
							<%= @statuses[name][i+1].image %>
						</td>
					<% end %>
				</tr>
				<% end
				end %>
			</tbody>
		</table>
		
	</section>
</div>