<div class="row">
  <div class="span12">
    <table id="day_records" class="table table-bordered">
    	<thead>
    		<th>Service</th>
    		<th class="today">Current</th>
    		<% 5.times do |i| %>
    			<th><%= (Time.now - 60*60*24*(i+1)).to_formatted_s(:month_and_day) %></th>
    		<% end %>
    	</thead>
    	<tbody>
    		<% unless @statuses.nil?
    			@statuses.keys.each do |name| %>
    		<tr>
    			<td><%= link_to name, service_events_path(@statuses[name][0].service_id) %></td>
    			<td class="highlight">
						<%= link_to image_tag(@statuses[name][0].image, {:class => 'sym', :alt => ''}), service_events_path(@statuses[name][0].service_id) %>
    			</td>
    			<% 5.times do |i| %>
    				<td>
							<%= image_tag(@statuses[name][0].image, {:class => 'sym', :alt => ''}) %>
            </td>
    			<% end %>
    		</tr>
    		<% end
    		end %>
    	</tbody>
    </table>      
  </div>
</div>