<div id="wrapper">
	<header>
    	<a href="/"><h1 id="title">Stashboard</h1></a>
	</header>
	<section id="content">
		
		<table id="events" class="data" cellpadding="10">
			<thead>
				<tr>
					<th class="time-header">Time</th>
					<th class="status-header">Status</th>
					<th class="status-header">Message</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% unless @events.nil?
					@events.each do |event| %>
				<tr>
					<td class="time"><%= time_ago_in_words(event.created_at) %> ago</td>
					<td class="status highlight"><%= event.image %></td>
					<td><%= event.message %></td>
					<td>Delete</td>
				</tr>
				<% end 
				end %>
			</tbody>
		</table>

	</section>
</div>