/*
 *= require_self
 *= require_tree .
*/

@import "bootstrap";

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
  background: rgb(247, 247, 247);
}

#content {
  border: 1px solid rgb(228, 228, 228);
  background: white;
  padding: 20px;
  table {
    font-size: 15px;
    border-top: none;
    border-left: none;
    th, td {
      text-align: center;
    }
    th.today {
      background: rgb(228, 228, 228);
    }
    td.highlight {
      background: rgb(247, 247, 247);
    }
    th:first-child, tr td:first-child {
      text-align: left;
    }
  }
}

#legend {
  h4 {
    font-weight: normal;
    color: grey;
    margin-bottom: 10px;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style:none;
    li {
      float: left;
      margin-right: 20px;
    }
  }
  p {
    vertical-align: middle; 
    display: inline-block;
  }
}